.card {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	height: 300px;
	width: 250px;
	text-align: center;
}

.card:hover {
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.card__image {
	width: 100%;
	height: 80%;
	object-fit: contain;
	display: block;
}

.card__content {
	line-height: 1.5;
	font-size: 0.9em;
	padding: 15px;
}

.card__content p {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.card__info {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	background-color: #eee;
	border-bottom: 2px solid #ccc;
	align-items: center;
}

.card__info button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background: #2f3136;
	color: #fff;
	padding: 5px;
}
