.Navbar {
	background-color: #2f3136;
	display: flex;
	padding: 16px;
	font-family: sans-serif;
	color: white;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}

.Navbar__Items {
	display: flex;
}

.Navbar__Link {
	padding-right: 8px;
	font-size: 18px;
}

.Navbar__Items--right {
	margin-left: auto;
}
